.logoIcon {
    position: absolute;
    top: 33px;
    left: 100px;
    width: 122px;
    height: 49px;
}
.button {
    position: relative;
}
.buttonText {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}
.buttonTextParent {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 410px);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 52px;
}
.button6 {
    position: absolute;
    top: calc(50% - 15px);
    right: 100px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 24px;
    color: #131313;
}
.button8 {
    position: absolute;
    top: calc(50% - 15px);
    right: 223px;
    border: 1px solid #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 24px;
}
.headerdarklefttwoButton {
    width: 100%;
    position: relative;
    background-color: #131313;
    height: 116px;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    color: #fff;
    font-family: Inter;
}

